<div class="page-header header-filter"  data-parallax="true" style="background-image: linear-gradient(180deg,#0f88f2,#33a0ff),linear-gradient(#0f88f2,#0f88f2);">
    <div class="container" >
      <div class="row mobile">
        <div class="col-md-6 col-sm-12">
          <div class="brand">
               <h1 id="header_description" style="display: block;">
                                <!--  -->
                                We
                                <div class="type-wrap">
                                    <div id="typed-strings" style="display: none;">
                                        <p>are <br>accelerate your<br>business</p>
                                        <p>bring ideas <br>into action.</p>
                                        <p>are <br>solutionist</p>
                                        <p>solve <br>big data<br>problems at scale.</p>
                                        <p>create <br>interactive data<br>visualizations.</p>
                                        <p>are <br>geniuses</p>
                                    </div>
                                    <span id="typed" style="white-space:pre;">solve <br>dat</span><span class="typed-cursor"></span>
                                </div>
                            </h1>
            {{!-- <h1 class="leftsection">LET YOUR PRODUCT <br> WORK <br> FOR YOU</h1>
            <h3 class="title ">Future of Things</h3> --}}
          </div>
        </div>
           {{!-- <div class="header-content-inner">
                            <h1 id="header_description" style="display: block;">
                                <!--  -->
                                <div class="type-wrap">
                                We
                                    <div id="typed-strings" style="display: none;">
                                        <p>build A.I. <br>solutions.</p>
                                        <p>are <br>machine learning<br>experts.</p>
                                        <p>solve <br>data science<br>problems at scale.</p>
                                        <p>create <br>interactive data<br>visualizations.</p>
                                        <p>are <br>data nerds.</p>
                                    </div>
                                    <span id="typed" style="white-space:pre;">solve <br>dat</span><span class="typed-cursor">|</span>
                                </div>
                            </h1>
                            <!--  -->
                        </div> --}}
         <div class="col-md-6 ml-auto mr-auto">
          <div class="mobileIMG">
      <div id="particles"><canvas class="pg-canvas" width="360" height="510" style="display: block;"></canvas></div>

            <img class="proto" src="/img/proto.png" alt="">
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Your main section here</h2>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="toilo.co.za">
              TOILO
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="toilo.co.za" target="blank">Toilo</a> for a better web.
      </div>
    </div>
  </footer>
